<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.3.0/vue-router.min.js"></script>
	<script src="../app.js"></script>
</head>
<body>
<div class="list-group">

  <a href="#" class="list-group-item" v-repeat="user in users">
    <h4 class="list-group-item-heading">
      <i class="glyphicon glyphicon-bullhorn"></i> 
      {{ user.username }}
    </h4>

    <h5>
      <i class="glyphicon glyphicon-calendar" v-if="user.date"></i> 
      {{ user.speciality }}
    </h5>

    

    
  </a>

  

  
</div>
</body>
</html>